.classes {
  grid-column: 2 / 4;
}
.classes-lista {
  grid-column: 2/-1;
  display: flex;
  list-style: none;
  padding: 0;
}

.classes-lista li {
  font-family: "IBM Plex Mono", monospace;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .1rem;
  margin-right: 1rem;
  color: #f1522a;
}

.classes-lista li:first-child {
  margin-left: 150px;
}

.classes-lista li:nth-child(2) {
  margin-left: 130px;
}

.classes-lista li:nth-child(3) {
  margin-left: 145px;
}

.classes-lista li:nth-child(4) {
  margin-left: 165px;
}

.classes-lista li:nth-child(5) {
  margin-left: 135px;
}


.slide-wrapper {
  overflow: hidden;
  grid-column: 1 / -1;
}

.slide {
  display: flex;
}

.slide:hover {
  will-change: transform;
}

.slide li {
  flex-shrink: 0;
  width: 35vw;
  max-width: 350px;
  margin: 0 10px;
  border-radius: 4px;
  overflow: hidden;
  opacity: .8;
  transform: scale(.7);
  transition: .4s;
}

.slide li:nth-child(5),
.slide li:nth-child(10),
.slide li:nth-child(15),
.slide li:nth-child(20),
.slide li:nth-child(25) {
    margin-right: 80px;
    border-right: 2px solid #f1522a;
    border-bottom: 2px solid #f1522a;
    padding-right: 170px;
}

.slide li.ativo {
  opacity: 1;
  transform: scale(1);
}

.custom-controls {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  grid-column: 1 / -1;
}

.custom-controls li:nth-child(5),
.custom-controls li:nth-child(10),
.custom-controls li:nth-child(15),
.custom-controls li:nth-child(20),
.custom-controls li:nth-child(25) {
  margin-right: 30px;
}

.custom-controls li {
  opacity: .8;
  transform: scale(.8);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin: 2px;
  box-shadow: 0 2px 2px rgba(0,0,0,.5);
  transition: .3s;
}

.custom-controls li.ativo {
  opacity: 1;
  transform: scale(1);
}