.env
node_modules
site_prompt_fantastico
.firebase
.github/workflows
.firebaserc
firebase.json
.github
config.js
firebase-init.js
package.json
package-lock.json
firebase-init-config.js
firebase-init.js